Element.FuelServices.FuelServicesSite/Connected Services/FuelStationReference/FuelStation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Element.FuelServices.Shared.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Element.FuelServices.Shared.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53456/Operation/FuelStation.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Element.FuelServices.Shared.Entities.Operation" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Element.FuelServices.Shared.Entities.Operation" minOccurs="0" name="ListResult" nillable="true" type="q1:ArrayOfFuelStationDetail" />
      <xs:element minOccurs="0" name="NumberItems" type="xs:int" />
      <xs:element minOccurs="0" name="StatusResponse" nillable="true" type="tns:StatusResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="StatusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="Timestamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatusResponse" nillable="true" type="tns:StatusResponse" />
</xs:schema>