Element.FuelServices.FuelServicesSite/Connected Services/StationListReference/StationList4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Element.FuelServices.Shared.Entities.Operation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Element.FuelServices.Shared.Entities.Operation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFuelStationDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FuelStationDetail" nillable="true" type="tns:FuelStationDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFuelStationDetail" nillable="true" type="tns:ArrayOfFuelStationDetail" />
  <xs:complexType name="FuelStationDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DieselDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DieselId" type="xs:int" />
      <xs:element minOccurs="0" name="DieselPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="DistanceToStation" type="xs:double" />
      <xs:element minOccurs="0" name="Latitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Longitude" type="xs:decimal" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PremiumDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PremiumId" type="xs:int" />
      <xs:element minOccurs="0" name="PremiumPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationId" type="xs:long" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierId" type="xs:int" />
      <xs:element minOccurs="0" name="UnleadedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UnleadedId" type="xs:int" />
      <xs:element minOccurs="0" name="UnleadedPrice" type="xs:decimal" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FuelStationDetail" nillable="true" type="tns:FuelStationDetail" />
</xs:schema>